@font-face {
  font-family: "Roboto";
  src: url(../libs/fontawesome/FONTS/Roboto-Regular.ttf);
}
*{
  font-family: "Roboto";
}
a{
  cursor: pointer;
}
/*-----------------CONTENIDO DE LA PÁGINA-------------------*/
.container{
  width: 98vw;
  margin-left: 0.5vw;
  margin-top: 19vh;
  margin-bottom: 1vh;
}
/*------------------BARRA DE NAVEGACIÓN---------------------*/
header>nav{
  height: 18vh;
  width: 100vw;
  background-color: #14213D;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-flow: row nowrap;
  z-index: 100;
}
nav>.crearEncuesta{
  background-color: #FCA311;
  margin: 20px;
  border-radius: 5%;
  width: 25vw;
  height: 14vh;
  text-align: center;
  margin-right: 10%;
}
nav>.crearEncuesta p{
  font-size: 58px;
  margin-top: 1.5%;
}
nav>.unirseEncuesta{
  background-color: #FCA311;
  margin: 20px;
  border-radius: 5%;
  width: 25vw;
  height: 14vh;
  text-align: center;
  margin-right: 10%;
}
nav>.unirseEncuesta p{
  font-size: 55px;
  margin-top: 1.5%;
}
.miPerfil{
  width: 25vw;
  height: 14vh;
  display: flex;
  flex-flow: row wrap;
  background-color: #FCA311;
  border-radius: 5%;
  margin: 20px;
}
.mP{
  width: 60%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  margin: 12px;
  display: flex;
  align-items: center;
}
.fotoPerfilMio{
  width: 115px;
  height: 115px;
  margin-top: -20px;
}
.fotoPerfilMio>img{
  border-radius: 50%;
  width: 115px;
  height: 115px;
}
.textoMiPerfil{
  text-align: center;
  margin-left: 2.5em;
}
.textoMiPerfil>span{
  font-size: 24px;
}
.cerarsesion{
  width: 35%;
  background-color: #E5E5E5;
  height: 14vh;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.CSTexto{
  text-align: center;
}
.CSTexto>span{
  font-size: 24px;
  padding: 1em;
}
/*---------------------FOOTER-----------------*/
footer{
  display: flex;
  flex-flow: row nowrap;
  background-color: #14213D;
  color: rgb(255, 255, 255);
  width: 100% ;
  height: auto;
  position: absolute;
  margin-left: -8px;
  margin-bottom: -20px;
}
.contacto{
  font-size: 64px;
  width: 50%;
  padding: 50px;
}
.logo{
  width: 90%;
  padding: 50px;
}
.logo>img{
  width: 100%;
}
.info{
  font-size: 48px;
  width: 50%;
  padding: 50px;
}
