@font-face {
  font-family: "Roboto";
  src: url(../libs/fontawesome/FONTS/Roboto-Regular.ttf);
}
*{
  font-family: "Roboto";
}
a{
  cursor: pointer;
}
/*-----------------CONTENIDO DE LA PÁGINA-------------------*/
.container{
  display: flex;
  flex-flow: row nowrap;
  width: 97vw;
  height: 76vh;
  margin-top: 18vh;
  margin-bottom: 15px;
  margin-left: 0.8vw
}
.profes{
  width: 48%;
  height: 100%;
  display: flex;
  position: absolute;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(31, 131, 187);
  align-items: center;
  margin-right: 2%;
  background-image: url(../media/img/Profesor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition-property: margin-right, width, height;
  transition-duration: 0.5s, 0.5s, 0.5s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
}
.profes:hover{
  margin-right: 0%;
  width: 55%;
  height: 107%;
}
.alumnos{
  width: 48%;
  height: 100%;
  display: flex;
  position: absolute;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(187, 31, 31);
  align-items: center;
  margin-left: 52%;
  background-image: url(../media/img/Alumno.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition-property: margin-right, width, height;
  transition-duration: 0.5s, 0.5s, 0.5s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
}
.alumnos:hover{
  margin-right: 50%;
  width: 55%;
  height: 107%;
}
.IS{
  background-color: rgba(75, 75, 75, 0.95);
  position: absolute;
  width: 33%;
  top: 38%;
  padding: 10px;
  text-align: center;
  font-size: 72px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition-property: font-size, text-decoration;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-out;
}
.IS:hover{
  font-size: 86px;
  text-decoration: overline underline;
}
.categoria{
  text-align: center;
  font-size: 24px;
  padding-bottom: 1em;
}
/*------------------BARRA DE NAVEGACIÓN---------------------*/
header>nav{
  height: 18vh;
  width: 100vw;
  background-color: #14213D;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-flow: row nowrap;
  z-index: 100;
}
nav>.unirseEncuesta{
  background-color: #FCA311;
  margin: 20px;
  border-radius: 5%;
  flex-grow: 3;
  height: 14vh;
}
nav>.unirseEncuesta p{
  font-size: 72px;
  text-align: center;
  margin-top: 1.5%;
}
nav>.iS{
  background-color: #FCA311;
  border-radius: 5%;
  margin: 20px;
  height: 14vh;
  width: 350px;
  display: flex;
  flex-flow: row wrap;
}
nav>.iS .iniciarSesion{
  text-align: center;
  width: 20%;
  height: 33%;
  position: absolute;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
nav>.iS .iniciarSesion p{
  font-size: 36px;
  text-align: center;
  margin-top: 1.5%;
}
nav>.iS .profesor{
  width: 20%;
  height: 66%;
  top: 32%;
  right: 0%;
  display: flex;
  position: absolute;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition-property: text-decoration;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
nav>.iS .profesor:hover{
  text-decoration: overline underline;
  cursor: pointer;
}
nav>.iS .profesor p{
  font-size: 36px;
  text-align: center;
  width: 50%;
  align-self: center;

}
nav>.iS .alummno{
  background-color: #E5E5E5;
  width: 9%;
  height: 50%;
  top: 39%;
  right: 1.05%;
  border-bottom-right-radius: 5%;
  display: flex;
  position: absolute;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition-property: text-decoration;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
nav>.iS .alummno:hover{
  text-decoration: overline underline;
  cursor: pointer;
}
nav>.iS .alummno p{
  font-size: 36px;
  text-align: center;
  background-color: #E5E5E5;
  width: 50%;
  border-bottom-right-radius: 5%;
  align-self: center;
  margin-left: 15%;
}
/*---------------------FOOTER-----------------*/
footer{
  display: flex;
  flex-flow: row nowrap;
  background-color: #14213D;
  color: rgb(255, 255, 255);
  width: 100% ;
  height: auto;
  position: absolute;
  margin-left: -8px;
  margin-bottom: -20px;
}
.contacto{
  font-size: 64px;
  width: 50%;
  padding: 50px;
}
.logo{
  width: 90%;
  padding: 50px;
}
.logo>img{
  width: 100%;
}
.info{
  font-size: 48px;
  width: 50%;
  padding: 50px;
}
