<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="../../statics/media/img/CoyoFormsIcono.ico" />
    <link rel="stylesheet" href="../../statics/css/editorEncuesta.css">
    <title>Editar Encuesta  | CoyoForms</title>
  </head>
  <body>
    <header>
      <nav> <!-- Barra de navegación  -->
        <div class="crearEncuesta">
          <p>Crear una Encuesta</p>
        </div>
        <div class="unirseEncuesta">
          <p>Unirse a una Encuesta</p>
        </div>
        <div class="miPerfil">
          <div class="mP">
            <div class="fotoPerfilMio">
              <img src="https://avatarfiles.alphacoders.com/240/240882.png" alt="Tu Foto de Perfil">
            </div>
            <div class="textoMiPerfil">
              <span>Mi Perfil</span>
            </div>
          </div>
          <div class="cerarsesion">
            <div class="CSTexto">
              <span>Cerrar Sesión</span>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <section class="container">
      <div class="titulo"> <!-- título de la página (rectángulo Azul) -->
        <div class="inicio">
          <span>Editor de</span>
          <div class="categoria">
            <span>Encuestas</span>
          </div>
        </div>
      </div>
      <div class="encuesta">
        <form action="index.html" method="post">
          Hola, soy la encuesta B)
          <input class="enviar" type="submit" name="registrarse" value="Iniciar Sesión">
        </form>
      </div>
    </section>
    <!-- SCRIPTS NECESARIOS PARA EL CORRECTO FUNCIONAMIENTO DE LA PÁGINA -->
    <script type="text/javascript" src="../../dynamics/js/crearEncuesta.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <noscript>
      <a href="https://www.javascript.com/"><img src="../../statics/media/img/script.jpg" alt="Es necesario Java Script para el funcionamiento de la página, gracias"></a>
    </noscript>
    <footer>
      <div class="contacto">
        <span>Datos de Contacto</span>
        <div class="logo">
          <img src="../../statics/media/img/CoyoFormsLogo.jpg" alt="">
        </div>
      </div>
      <div class="info">
        <p>Copyright (c) 2020 Copyright Holder All Rights Reserved.</p>
        <p>Información</p>
        <p>Hipervínculo a la página de Créditos</p>
        <p>Demás Cosas</p>
      </div>
    </footer>
  </body>
</html>
