<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="../../statics/media/img/CoyoFormsIcono.ico" />
    <link rel="stylesheet" href="../../statics/css/encuestaContestada.css">
    <title>Encuesta Contestada  |  CoyoForms</title>
  </head>
  <body>
    <header>
      <nav> <!-- Barra de navegación  -->
        <div class="crearEncuesta">
          <p>Crear una Encuesta</p>
        </div>
        <div class="unirseEncuesta">
          <p>Unirse a una Encuesta</p>
        </div>
        <div class="miPerfil">
          <div class="mP">
            <div class="fotoPerfilMio">
              <img src="https://avatarfiles.alphacoders.com/240/240882.png" alt="Tu Foto de Perfil">
            </div>
            <div class="textoMiPerfil">
              <span>Mi Perfil</span>
            </div>
          </div>
          <div class="cerarsesion">
            <div class="CSTexto">
              <span>Cerrar Sesión</span>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <section class="container">
      <div class="titulo"> <!-- título de la página (rectángulo Azul) -->
        <div class="inicio">
          <span>Encuesta Contestada</span>
        </div>
      </div>
      <div class="mensaje">
        <span>Gracias por Contestar esta Encuesta, puedes Ver tus Resultados en tu Perfil</span>
      </div>
      <form action="index.html" method="post">
        <button type="button" name="reportar" title="Por favor tenga discreción y reporte justamente">Reportar Encuesta</button>
        <a class="link clicky" href='unirseEncuesta.html'><button type="button" name="otra">Unirse a Otra Encuesta</button></a>
        <a class="link" href="crearEncuestaAlumnos.html"><button type="button" name="crear">Crear Encuesta</button></a>
        <a class="link" href="miPerfil.html"><button type="button" name="perfil">Mi Perfil</button></a>
      </form>
    </section>
    <footer>
      <div class="contacto">
        <span>Datos de Contacto</span>
        <div class="logo">
          <img src="../../statics/media/img/CoyoFormsLogo.jpg" alt="">
        </div>
      </div>
      <div class="info">
        <p>Copyright (c) 2020 Copyright Holder All Rights Reserved.</p>
        <p>Información</p>
        <p>Hipervínculo a la página de Créditos</p>
        <p>Demás Cosas</p>
      </div>
    </footer>
  </body>
</html>
