<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Generador de Encuestas</title>
    <link rel="shortcut icon" href="../statics/media/img/CoyoFormsIcono.ico" />
    <link rel="stylesheet" href="../statics/css/generaencu.css">
    <link rel="stylesheet" href="../statics/css/generaencu2.css">
  </head>
  <body>
    <header>
      <nav> <!-- Barra de navegación  -->
        <div class="unirseEncuesta">
          <p>Unirse a una Encuesta</p>
        </div>
        <div class="iS">
          <a href="coyoForms.html">
          <div class="iniciarSesion">
            <p>Página Principal</p>
          </div>
          </a>
          <a href="iniciosesion.html">
          <div class="profesor">
            <p>Ingresa</p>
          </div>
          </a>
          <a href="#">
          <div class="alummno">
            <p>Registro</p>
          </div>
          </a>
        </div>
      </nav>
    </header>
    <div id="columnaFor">
      <form enctype="multipart/form-data" action="../dynamics/php/procesaencu.php" method="post">
        <div id="encabezado">
          <h2>Nombre de encuesta: <input type="text" name="nombreEnc" value="" pattern='[A-Za-zÁÉÍÓÚáéíóú0-9¿?.,\s]+' title="Revise sus caracteres especiales" required maxlength="30"></h2>
          Imagen: <input type="file" name="encuImg" value=""><br>
          Inicio: <input type="date" name="encuFechaInic" value="" required> Hora: <input type="number" name="horInic" value="" max="23" min="0" required><br>
          Vencimiento: <input type="date" name="encuFechaVenc" value="" required> Hora: <input type="number" name="horVenc" value="" max="23" min="0" required><br>
          Categoría: <select name="encuCategoria" required>
                <option value="1">Académico</option>
                <option value="2">Cultura</option>
                <option value="3">Deportes</option>
                <option value="4">Ciencias</option>
              </select>
          <h3>Pregunta: <input type="text" name="preg1" value="" maxlength="30" required pattern='[A-Za-zÁÉÍÓÚáéíóú0-9¿?.,\s]+' title="Revise sus caracteres especiales"><br><input type="file" name="preg1Img" value=""></h3>
        </div>
        <div id="listaOpc">
          Opción 1: <input type="text" name="opc11" value="" maxlength="30" required pattern='[A-Za-zÁÉÍÓÚáéíóú0-9¿?.,\s]+' title="Revise sus caracteres especiales"><input type="file" name="opc11Img" value=""><br>
          Opción 2: <input type="text" name="opc21" value="" maxlength="30" required pattern='[A-Za-zÁÉÍÓÚáéíóú0-9¿?.,\s]+' title="Revise sus caracteres especiales"><input type="file" name="opc21Img" value="">
        </div>
        <div id="neopreg">
        </div><br>
        Descripción: <input type="text" name="descrEncu" pattern='[A-Za-zÁÉÍÓÚáéíóú0-9¿?.,\s]+' maxlength="200" minlength="50" title="Revise sus caracteres especiales" required><br>
        <p><input type="submit" name="" value="Crear"></p>
      </form>
      <div id="botCont">
        <a href="../dynamics/php/reutiEncu.php">
          <button id = "reutEncu">Reutilizar Encuesta</button><br>
        </a>
        <br>
        <div id="agregaPregBotCont">
          <button id = "agregarPreg" onclick="agregarPreg()">Agregar Pregunta</button>
        </div>
        <span id="botonRemPreg1"></span><br>
        <div id="contBotAgregOpc1">
          <button id = "agregarOpc1" onclick="agregarOpc1()">Agregar Opción</button>
        </div>
        <span id = "botonRem1"></span>
      </div>
    </div>
    <footer>
      <div class="logo">
        <img src="../statics/media/img/CoyoFormsLogo.jpg" alt="">
      </div>
      <div class="contacto">
        <div class="redes">
          <p>Datos de Contacto</p>
          <a href="https://twitter.com/prepa6_unam?lang=es"><img src="https://seeklogo.com/images/T/twitter-square-black-and-white-logo-962E683117-seeklogo.com.png" alt="Twiter P6"></a>
          <a href="https://www.facebook.com/prepa6/"><img src="https://cdn3.iconfinder.com/data/icons/rcons-social/32/facebook_fb_social_social_media-512.png" alt="Facebook P6"></a>
          <a href="https://www.instagram.com/explore/tags/prepa6/?hl=es"><img src="https://image.flaticon.com/icons/png/512/87/87390.png" alt="Instagram P6"></a>
        <div class="direccion">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d941.0990510362046!2d-99.15662289143005!3d19.35198983024694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf8b434a6ebcd6c83!2sEscuela%20Nacional%20Preparatoria%20N%C2%B0%206%20%22Antonio%20Caso%22%20UNAM!5e0!3m2!1ses-419!2smx!4v1593312628926!5m2!1ses-419!2smx" width="250" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
      </div>
        
      </div>
      <div class="info">
        <p>Copyright (c) 2020 Copyright Holder All Rights Reserved.</p>
        <p>Información</p>
        <p>Hipervínculo a la página de Créditos</p>
        <p>Demás Cosas</p>
      </div>
    </footer>
    <script src="../dynamics/js/generaencu.js"></script>
  </body>
</html>
