<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="../statics/media/img/CoyoFormsIcono.ico" />
    <link rel="stylesheet" href="../statics/css/inicioSesion.css">
    <title>Inicio de Sesión Profesores y Administradores  |  Coyo Forms</title>
  </head>
  <body>
    <header>
      <nav> <!-- Barra de navegación  -->
        <div class="unirseEncuesta">
          <p>Unirse a una Encuesta</p>
        </div>
        <div class="iS">
          <div class="iniciarSesion">
            <p>Registro</p>
          </div>
          <a href="registroProfes.html">
          <div class="profesor">
            <p>Profesor</p>
          </div>
          </a>
          <a href="registro.html">
          <div class="alummno">
            <p>Alumno</p>
          </div>
          </a>
        </div>
      </nav>
    </header>
    <section class="container">
      <div class="titulo"> <!-- título de la página (rectángulo Azul) -->
        <div class="inicio">
          <span>Inicio de Sesión</span>
          <div class="categoria">
            <span>Profesores y Administradores</span>
          </div>
        </div>
      </div>
      <div class="mensaje">
        <span>Por favor coloque su RFC con Homoclave o su Correo Electrónico y su contraseña</span>
      </div>
      <form action="index.html" method="post">
        <input class="junto1" type="number" name="rfc" placeholder="RFC" autocomplete="off">
        <input class="junto2" type="text" name="correo" placeholder="Correo Electrónico" autocomplete="off">
        <input class="passwd" type="password" name="contrasenia" placeholder="Contraseña" required>
        <input class="enviar" type="submit" name="registrarse" value="Iniciar Sesión">
      </form>
    </section>
    <footer>
      <div class="contacto">
        <span>Datos de Contacto</span>
        <div class="logo">
          <img src="../../statics/media/img/CoyoFormsLogo.jpg" alt="">
        </div>
      </div>
      <div class="info">
        <p>Copyright (c) 2020 Copyright Holder All Rights Reserved.</p>
        <p>Información</p>
        <p>Hipervínculo a la página de Créditos</p>
        <p>Demás Cosas</p>
      </div>
    </footer>
  </body>
</html>
