<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="../statics/media/img/CoyoFormsIcono.ico" />
    <link rel="stylesheet" href="../statics/css/inicioSesionDirigir.css">
    <title>Inicio de Sesion  | CoyoForms</title>
  </head>
  <body>
    <header>
      <nav> <!-- Barra de navegación  -->
        <a href="unirseEncuesta.html">
        <div class="unirseEncuesta">
          <p>Unirse a una Encuesta</p>
        </div>
        </a>
        <div class="iS">
          <div class="iniciarSesion">
            <p>Registro</p>
          </div>
          <a href="registroProfes.html">
          <div class="profesor">
            <p>Profesor</p>
          </div>
          </a>
          <a href="registro.html">
          <div class="alummno">
            <p>Alumno</p>
          </div>
          </a>
        </div>
      </nav>
    </header>
    <section class="container">
      <a href="inicioSesionProfe.html">
      <div class="profes">
        <div class="IS">
          <span>Inicio de Sesión</span>
          <div class="categoria">
            <span>Profesores y Administradores</span>
          </div>
        </div>
      </div>
      </a>
      <a href="inicioSesionAlumno.html">
      <div class="alumnos">
        <div class="IS">
          <span>Inicio de Sesión</span>
          <div class="categoria">
            <span>Alumnos</span>
          </div>
        </div>
      </div>
      </a>
    </section>
    <footer>
      <div class="contacto">
        <span>Datos de Contacto</span>
        <div class="logo">
          <img src="../../statics/media/img/CoyoFormsLogo.jpg" alt="">
        </div>
      </div>
      <div class="info">
        <p>Copyright (c) 2020 Copyright Holder All Rights Reserved.</p>
        <p>Información</p>
        <p>Hipervínculo a la página de Créditos</p>
        <p>Demás Cosas</p>
      </div>
    </footer>
  </body>
</html>
