<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registro Usuario</title>
  </head>
  <body>
    <form method="post" action="../dynamics/php/formulariousuario.php" >
      <fieldset>
        <legend><h3>Selecciona Usuario</h3></legend>
          <br>
          <br>
          <!--Tipo cliente-->
          <p>Tipo de usuario:
            <select name="usuario">
              <option>Profesor</option>
              <option>Alumno</option>
              <option>Otro</option>
            </select></p>
          <br>
          <br>
          <input class="send" type="submit" value="Validar">
        </fieldset>
      </form>
  </body>
</html>
