<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registro Usuario</title>
    <link rel="stylesheet" href="../statics/forms.css">
  </head>
  <body>
    <h1>REGISTRO DE USUARIOS :D</h1>
    <!--div en el que se imprimen modales-->
    <div id="mensaje"></div>
    <!--div en el que se imprimen los forms de cada usuario y accion-->
    <div id="inicial" class="desaparecido"></div>
      <fieldset id="tipo">
        <legend><h3>Selecciona tu tipo de Usuario</h3></legend><br><br>
          <!--Tipo cliente-->
          <button id="profesor">Profesor</button>
          <button id="alumno">Alumno</button>
      </fieldset>
      <!--enlaces que facilitan movilidad en páginas-->
      <a href="#" id="regresar" class="desaparecido">Regresar</a>
      <a href="coyoForms.html">Página principal</a>
      <a href="iniciosesion.html">Iniciar Sesion</a>
      <script src="../dynamics/js/registroUsuario.js"></script>
  </body>
</html>
