<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="../../statics/media/img/CoyoFormsIcono.ico" />
    <link rel="stylesheet" href="../../statics/css/unirseEncuesta.css">
    <title>Unirse a una Encuesta  |  CoyoFomrs</title>
  </head>
  <body>
    <header>
      <nav> <!-- Barra de navegación  -->
        <div class="unirseEncuesta">
          <p>Unirse a una Encuesta</p>
        </div>
        <div class="iS">
          <a href="inicioSesionDirigir.html">
          <div class="iniciarSesion">
            <p>Iniciar Sesión</p>
          </div>
          </a>
          <a href="inicioSesionProfe.html">
          <div class="profesor">
            <p>Profesor</p>
          </div>
          </a>
          <a href="inicioSesionAlumno.html">
          <div class="alummno">
            <p>Alumno</p>
          </div>
          </a>
        </div>
      </nav>
    </header>
    <section class="container">
      <div class="titulo"> <!-- título de la página (rectángulo Azul) -->
        <div class="inicio">
          <span>Unirse  una Encuesta</span>
        </div>
      </div>
      <div class="mensaje">
        <span>Por favor coloque el Identificador Único de la Encuesta para Entrar</span>
      </div>
      <form   action="index.html" method="post">
        <input type="number" name="IDEncuesta" placeholder="IdentificadorEncuesta" value="" required><!-- Aqui va el ID de la encuesta -->
        <input class="unirse" type="submit" name="editarEncuesta" value="Unirse">
      </form>
      <div class="mensaje2">
        <span>O Inicie Seción para que tenga Registro de la Encuesta</span>
      </div>
      <form action="index.html" method="post">
        <input class="unirse2" type="submit" name="editarEncuesta" value="Iniciar Sesion">
      </form>
    </section>
    <!-- SCRIPTS NECESARIOS PARA EL CORRECTO FUNCIONAMIENTO DE LA PÁGINA -->
    <script type="text/javascript" src="../../dynamics/js/crearEncuesta.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <noscript>
      <a href="https://www.javascript.com/"><img src="../../statics/media/img/script.jpg" alt="Es necesario Java Script para el funcionamiento de la página, gracias"></a>
    </noscript>
    <footer>
      <div class="contacto">
        <span>Datos de Contacto</span>
        <div class="logo">
          <img src="../../statics/media/img/CoyoFormsLogo.jpg" alt="">
        </div>
      </div>
      <div class="info">
        <p>Copyright (c) 2020 Copyright Holder All Rights Reserved.</p>
        <p>Información</p>
        <p>Hipervínculo a la página de Créditos</p>
        <p>Demás Cosas</p>
      </div>
    </footer>
  </body>
</html>
